<ion-content>
  <div class="home">
    <div class="home--img-back">
      <img class="home--img-back--logo" src="assets/images/be-green-logo.png">
    </div>
    <div class="home--hello">
      <p>Oi, <strong>{{ user.name }}</strong></p>
      <button *ngIf="isAdmin && isCompany" (click)="exitModal()" class="home--hello--exit">Sair</button>
    </div>

    <div class="home--occurrence">
      <h3>Sustentabilidade</h3>
      <div class="home--occurrence--type" *ngIf="sustentabilityList.length > 0; else emptyList">
        <div class="home--occurrence--type--item" *ngFor="let item of sustentabilityList" (click)="redirectToItem(item.id)">
          <p>{{ item.title }}</p>
          <iframe class="home--occurrence--type--item--iframe" width="230" height="120" [src]="item.urlSafe" allow="accelerometer; autoplay; encrypted-midia; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <ng-template #emptyList>
        <h3>Oops... Ainda não existem itens no momento.</h3>
      </ng-template>
    </div>

    <div class="home--occurrence">
      <h3>Meio Ambiente</h3>
      <div class="home--occurrence--type" *ngIf="ambientList.length > 0; else emptyList">
        <div class="home--occurrence--type--item" *ngFor="let item of ambientList" (click)="redirectToItem(item.id)">
          <p>{{ item.title }}</p>
          <iframe class="home--occurrence--type--item--iframe" width="230" height="120" [src]="item.urlSafe" allow="accelerometer; autoplay; encrypted-midia; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</ion-content>
