<div class="home">
  <div class="home--img-back">
    <img class="home--img-back--logo" src="assets/images/be-green-logo.png">
  </div>
  <div class="home--hello">
    <p>Oi, <strong>{{ user.name }}</strong></p>
  </div>

  <div class="home--occurrence">
    <h3>Sustentabilidade</h3>
    <div class="home--occurrence--type" *ngIf="!sustentabilityList.length; else emptyList">
      <img [src]="item.videoUrl" *ngFor="let item of sustentabilityList">
<!--      <video #sustentabilityVideos autoplay="false" muted="true" *ngFor="let item of sustentabilityList">-->
<!--        <source [src]="item.videoUrl">-->
<!--        Your browser does not support HTML video.-->
<!--      </video>-->
    </div>
    <ng-template #emptyList>
      <h3>Oops... Ainda não existem itens no momento.</h3>
    </ng-template>
  </div>

  <div class="home--occurrence">
    <h3>Meio Ambiente</h3>
    <div class="home--occurrence--type" *ngIf="!ambientList.length; else emptyList">
      <video #ambientVideos autoplay="false" muted="true" *ngFor="let item of ambientList">
        <source [src]="item.videoUrl">
        Your browser does not support HTML video.
      </video>
    </div>
  </div>
</div>
