<div class="login">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="login--img-back">
    <img src="assets/images/be-green-logo.png">
  </div>
  <div class="login--intro">
    <h1>Todo o seu ecossistema de sustentabilidade!</h1>
    <h4>Encontre pontos de coleta, aprenda sobre reutilização e ganhe pontos fazendo o bem!</h4>
  </div>
  <div class="login--actions">
    <button class="login--actions--login">Logar</button>
    <button class="login--actions--register">Registrar-se</button>
  </div>
</div>
