<div class="login">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <ng-container *ngIf="!isLogin && !isRegister">
    <div class="login--home" [class.exit-fade]="isLogin">
      <div class="login--home--img-back">
        <img class="login--home--img-back--logo" src="assets/images/be-green-logo.png">
      </div>
      <div class="login--home--intro">
        <h1>Todo o seu ecossistema de sustentabilidade!</h1>
        <h4>Encontre pontos de coleta, aprenda sobre reutilização e ganhe pontos fazendo o bem!</h4>
      </div>
      <div class="login--home--actions">
        <button class="login--home--actions--login" (click)="isLogin = !isLogin">Continuar</button>
        <button class="login--home--actions--register" (click)="isRegister = !isRegister">Registrar-se</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isLogin">
    <img class="login--back" src="assets/images/arrow-back.svg" (click)="isLogin = !isLogin" alt="">
    <div class="login--home--img-back">
      <img class="login--home--img-back--logo" src="assets/images/be-green-logo.png">
    </div>
    <div class="login--header">
      <h1>Bem Vindo de Volta!</h1>
      <label>Informe sua conta:</label>
    </div>

    <div class="login--form">
      <label>Email:</label>
      <input class="login--form--input" type="text" [(ngModel)]="loginPayload.email">
    </div>

    <div class="login--form">
      <label>Senha:</label>
      <input class="login--form--input" type="password" [(ngModel)]="loginPayload.password">
    </div>

    <button class="login--submit" [class.disable]="!canLogin()" (click)="login()">Login</button>
    <div class="login--sub-label">
      <label>Ainda não possui uma conta?</label>
      <a (click)="isLogin = !isLogin">Cadastre-se</a>
    </div>
  </ng-container>

  <ng-container *ngIf="isRegister">
    <img class="login--back" src="assets/images/arrow-back.svg" (click)="isRegister = !isRegister" alt="">
    <div class="login--home--img-back">
      <img class="login--home--img-back--logo" src="assets/images/be-green-logo.png">
    </div>
    <div class="login--header">
      <h1>Bem Vindo ao Be Green!</h1>
      <label>Cadastre-se:</label>
    </div>

    <div class="login--form">
      <label>Nome:</label>
      <input class="login--form--input" type="text" [(ngModel)]="registerPayload.name">
    </div>

    <div class="login--form">
      <label>Informe se você é:</label>
      <select class="login--form--input" [(ngModel)]="registerPayload.role">
        <option value="company">Empresa</option>
        <option value="user">Usuário</option>
      </select>
    </div>

    <div class="login--form">
      <label>Email:</label>
      <input class="login--form--input" type="text" [(ngModel)]="registerPayload.email">
    </div>

    <div class="login--form">
      <label>Confirme email:</label>
      <input class="login--form--input" type="text" [(ngModel)]="registerPayload.confirmEmail">
    </div>

    <div class="login--form" *ngIf="registerPayload.role === 'company'">
      <label>CNPJ:</label>
      <input
        class="login--form--input"
        type="text"
        inputmode="decimal"
        [(ngModel)]="registerPayload.cnpj"
        mask="000.000.000/0000-00"
        [dropSpecialCharacters]="false"
        maxlength="19">
    </div>

    <div class="login--form" *ngIf="registerPayload.role === 'user'">
      <label>CPF:</label>
      <input
        class="login--form--input"
        type="text"
        [(ngModel)]="registerPayload.cpf"
        mask="000.000.000-00"
        [dropSpecialCharacters]="false"
        inputmode="decimal"
        maxlength="14">
    </div>

    <div class="login--form" *ngIf="registerPayload.role === 'user'">
      <label>Telefone:</label>
      <input
        class="login--form--input"
        type="text"
        [(ngModel)]="registerPayload.phone"
        mask="(00) 00000-0000"
        [dropSpecialCharacters]="false"
        inputmode="decimal"
        maxlength="15">
    </div>

    <div class="login--form">
      <label>Endereço:</label>
      <input
        class="login--form--input"
        type="text"
        [(ngModel)]="registerPayload.address">
    </div>

    <div class="login--form">
      <label>Senha:</label>
      <input class="login--form--input" type="password" [(ngModel)]="registerPayload.password">
    </div>

    <div class="login--form">
      <label>Confirmar senha:</label>
      <input class="login--form--input" type="password" [(ngModel)]="registerPayload.confirmPassword">
    </div>

    <button class="login--submit" [class.disable]="!canRegister()" (click)="register()">Cadastrar-se</button>
  </ng-container>
</div>
