:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-collect {
  width: 80vw;
  height: auto;
  max-height: 75vh;
  overflow: auto;
  padding: 2rem;
  background: var(--green-light-app-style);
  border-radius: .5rem;
  position: relative;

  &--content {
    height: 100%;
    overflow: auto;

    &--header {
      width: 100%;
      display: flex;
    }

    &--exit {
      position: absolute;
      color: white;
      top: .3rem;
      right: 1rem;
      padding: 0.4rem;
      font-weight: bold;
      border-radius: 100%;
    }

    &--items {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-bottom: 0.1rem solid;
      padding: 1rem 0;
      border-top: 0.1rem solid white;

      label {
        font-size: 1.2rem;
      }
    }
  }
}
